<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>cookie</title>
<style type="text/css">
*{margin: 0;padding: 0;}
i{color: red;}
ul,li{list-style: none;}
table{box-shadow:#ccc 5px 5px 5px;margin: 10px 0;}
.cookieMsg{width: 300px;text-align: center;}
.cookieInputTd{text-align: center;}
.cookieInput{width: 200px;}
.cookieUpload{width: 100%;}
</style>
<script type="text/javascript">
function cookieClick(){
	var cookie=$('#cookie');
	var account=$('#account');
	var phone=$('#phone');
	$.ajax({
		type:"post",
		url:"/cookie/add",
		data:{account:account.val(),phone:phone.val(),value:cookie.val()},
		success:function(result){
			var data=null;
			var code=result.code;
			if(code==0){
				data=result.data;
			}else{
				data=result.msg;
			}
			var cookieMsg=$('#cookieMsg').text(data);
		}
	});
}
</script>
</head>
<body>
	<p>hello!<span id="userName" th:text="${session.user?.name}">name</span></p>
	<p>
		<span><a href="../../page/index">首页</a></span>
		<span><a href="../../page/luck">拼手气</a></span>
		<span><a href="../../page/cookie">cookie</a></span>
	</p>
	<table border="1" class="cookieTable">
		<caption>上传cookie</caption>
		<tr>
			<td><i>*</i>cookie:</td><td class="cookieInputTd"><input id="cookie" class="cookieInput" type="text" /></td>
		</tr>
		<tr>
			<td>qq/微信:</td><td class="cookieInputTd"><input id="account" class="cookieInput"/></td>
		</tr>
		<tr>
			<td>手机号:</td><td class="cookieInputTd"><input id="phone" class="cookieInput"/></td>
		</tr>
		<tr>
			<td colspan="2"><button id="cookieUpload" class="cookieUpload" onclick="cookieClick()">上传</button></td>
		</tr>
		<tr>
			<td colspan="2" rowspan="3" class="cookieMsg" id="cookieMsg">信息</td>
		</tr>
	</table>
	
	<div th:replace="layuiInclud :: html"></div>
</body>
</html>