<!-- 账号详情 -->
<div id="address">
	<div class="weui-form-preview" th:each = "address,addressStat:${addresses}">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">联系人</label>
          <em class="weui-form-preview__value" th:text="${address.name}">小明</em>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">手机</label>
          <span class="weui-form-preview__value" th:text="${address.phone}">13413413413</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">地址</label>
          <span class="weui-form-preview__value" th:text="${address.address}">地址地址地址</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">详细</label>
          <span class="weui-form-preview__value" th:text="${address.address_detail}">详细详细详细</span>
        </div>
      </div>
      <div class="weui-form-preview__ft">
      </div>
    </div>
</div>	
<!-- 账号详情 end-->