<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>cookie</title>
<style type="text/css">
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
table{box-shadow:#ccc 5px 5px 5px;margin: 10px 0;}
.cookieMsg{width: 300px;text-align: center;}
.cookieInputTd{text-align: center;}
.cookieInput{width: 200px;}
.cookieOpen{width: 100%;}
.cookieValue{width:300px;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
</style>
<script type="text/javascript">
function del(id){
	$.ajax({
		type:"post",
		url:"/cookie/del",
		data:{cookieId:id},
		success:function(result){
			var data=null;
			var code=result.code;
			if(code==0){
				data=result.data;
				$('#cookie_'+id).toggle(500,function(){$('#cookie_'+id).remove()});
			}else{
				data=result.msg;
				alert(data);
			}
		}
	});
}
</script>
</head>
<body>
	<p>hello!<span id="userName" th:text="${session.user?.name}">name</span></p>
	<p>
		<span><a href="../page/index">首页</a></span>
		<span><a href="../page/luck">拼手气</a></span>
		<span><a href="../page/cookie/add">上传cookie</a></span>
	</p>
	<table border="1" class="cookieTable">
		<caption>cookie</caption>
		<thead>
			<tr>
				<th>#</th><th>eleme用户</th><th>cookie</th><th>上传时间</th><th>删除</th>
			</tr>
		</thead>
		<tbody>
			<tr th:id="'cookie_'+${cookie.id}" th:each="cookie,cookieStatus:${cookies}">
				<td><span th:text="${cookieStatus.count}">1</span></td>
				<td><span th:text="${cookie.userId}">userId</span></td>
				<td><span class="cookieValue" th:text="${cookie.value}" th:title="${cookie.value}">cookie</span></td>
				<td><span th:text="${cookie.createDate}">上传时间</span></td>
				<td><button th:onclick="'del('+${cookie.id}+')'">删除</button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>