<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>luck</title>
<script type="text/javascript">
function logout(){
	var userName=$('#userName').val();
	$.ajax({
		async:false,
		type:"get",
		url:"/logout",
		data:userName
	});
}
function luckClick(){
	$.showLoading();
	var luckLink=$('#luckLink');
	$.ajax({
		type:"post",
		url:"/openRedpacket",
		data:{link:luckLink.val()},
		success:function(result){
			$.hideLoading();
			var data=null;
			var code=result.code;
			if(code==0){
				data=result.data;
				$.toptip(data, 'success');
			}else{
				data=result.msg;
				$.toptip(data, 'error');
			}
		}
	});
}
</script>
</head>
<body>
	<!-- 操作区域 -->
	<div>
		<div class="weui-cells__title">拼手气最大包</div>
		<div class="weui-cells">
			<div class="weui-cell">
	             <div class="weui-cell__hd"><label class="weui-label">红包链接</label></div>
	             <div class="weui-cell__bd">
	                 <input id="luckLink" class="weui-input" type="text" placeholder="请输入红包链接"/>
	             </div>
	         </div>
		</div>
		<div class="weui-btn-area">
	        <a id="luckOpen" class="weui-btn weui-btn_primary" href="javascript:" onclick="luckClick()">领取</a>
	    </div>
    </div>
    <!-- 操作区域 end -->
    <!-- 添加cookie -->
    <div class="weui-cells__title" style="text-align: right;">
   		<p>机器人不够用了？</p>
   		<a href="../page/cookie/add">添加我的专属机器人</a>
   	</div>
    <!-- 添加cookie end -->
    <!-- 列表区域 -->
    <div>
    	<div class="weui-cells__title">
    		代领记录<span th:if="${promotions!=null and promotions.size()>0}" th:text="${':'+promotions.size()+'次'}">次数</span>
    	</div>
		<div class="weui-cells">
			<div class="weui-cell" th:id="'promotion_'+${promotion.id}" th:each="promotion,promotionStatus:${promotions}">
			  <div class="weui-cell__hd">
			 	 <img src="../../img/redpack.png" alt="" style="width:20px;margin-right:5px;display:block"/>
			  </div>
			  <div class="weui-cell__bd">
			    <p>
			    	<!-- 
			    	<span th:text="${promotion.name}">name</span>
			    	:
			    	 -->
				    <span th:text="${promotion.sum_condition}">sum_condition</span>
					-
					<span th:text="${promotion.amount}">amount</span>
			    </p>
			  </div>
			  <div class="weui-cell__ft">
				<span th:text="${'【'+#dates.format(promotion.createDate,'yyyy-MM-dd')+'】'}">领取时间</span>
			  </div>
			</div>
		</div>	
	</div>
	<!-- 列表区域 end -->
</body>
</html>