<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>红包列表</title>
</head>
<body>
<!-- 红包列表 -->
	<div id="redpack">
		<!-- 错误时显示 -->
		<div class="weui-form-preview" th:if="${error!=null}">
			<div class="weui-form-preview__hd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label" th:text="${error}">error</label>
				</div>
			</div>
		</div>
		<!-- 无数据时显示 -->
		<div th:if="${error==null and (redpacks==null or redpacks.size()==0)}">
			<div class="weui-loadmore weui-loadmore_line">
		        <span class="weui-loadmore__tips">暂无数据</span>
		    </div>
		</div>
		<!-- 有数据时显示 -->
		<div class="weui-panel" th:each = "redpack,redpackStat:${redpacks}">
			<div class="weui-panel__hd" th:text="${redpack}">红包名称</div>
			<div class="weui-panel__bd">
				<div class="weui-media-box weui-media-box_text">
					<h4 class="weui-media-box__title">满减</h4>
					<p class="weui-media-box__desc" >规则</p>
					<ul class="weui-media-box__info">
						<li class="weui-media-box__info__meta">到期</li>
						<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">限制手机</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
<!-- 红包列表 end-->
</body>
</html>