<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>注册</title>
<div th:replace="layuiInclud :: html"></div>
</head>
<body>
	<div class="page">
		<div class="weui-cells__title"><h2>注册【限时开放】</h2></div>
		<div class="weui-block" style="text-align: center;margin-bottom: 10px;">
			<span id="msg" th:if="${result!=null}" th:text="${result.msg}"
				class="weui-btn weui-btn_disabled weui-btn_warn">msg</span>
		</div>
		<form action="/register" method="POST" class="weui-cells weui-cells_form">
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">用户名</label>
				</div>
				<div class="weui-cell__bd">
					<input type="text" name="name" placeholder="6-11位数字或字母" pattern="[A-z,0-9]{6,11}" required="required"
							class="weui-input"/>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">密码</label>
				</div>
				<div class="weui-cell__bd">
					<input type="password" name="pass" placeholder="6位数字" pattern="[0-9]{6}" required="required"
							class="weui-input"/>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">邮箱</label>
				</div>
				<div class="weui-cell__bd">
					<input type="text" name="email" placeholder="用于找回密码(仅QQ邮箱 )" pattern="[0-9]{6,10}@qq.com" required="required"
							class="weui-input"/>
				</div>
			</div>
			<div class="weui-btn-area">
				<input type="submit" value="注册" class="weui-btn weui-btn_primary" />
				<button type="reset" class="weui-btn weui-btn-primary">重置</button>
			</div>
		</form>
	</div>
</body>
<div th:replace="layuiInclud :: html"></div>
</html>