<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>注册</title>
  <div th:replace="layuiInclud :: html"></div>
</head>
<body>
<div class="page">
  <div class="weui-cells__title"><h2>注册</h2></div>
  <div class="weui-block" style="text-align: center;margin-bottom: 10px;">
			<span class="weui-btn weui-btn_disabled weui-btn_warn" id="msg" th:if="${result!=null}"
            th:text="${result.msg}">msg</span>
  </div>
  <form action="/register" class="weui-cells weui-cells_form" method="POST">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">用户名</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" name="name" pattern="[A-z,0-9]{6,11}" placeholder="6-11位数字或字母" required="required"
               type="text"/>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">密码</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" name="pass" pattern="[0-9]{6}" placeholder="6位数字" required="required"
               type="password"/>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">邮箱</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" name="email" pattern="[0-9]{6,10}@qq.com" placeholder="用于找回密码(仅QQ邮箱 )" required="required"
               type="text"/>
      </div>
    </div>
    <div class="weui-btn-area">
      <input class="weui-btn weui-btn_primary" type="submit" value="注册"/>
      <button class="weui-btn weui-btn-primary" type="reset">重置</button>
    </div>
  </form>
</div>
</body>
<div th:replace="layuiInclud :: html"></div>
</html>