<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>签到页面</title>
</head>
<body>
	<div class="weui-btn-area">
		<input type="button" value="一键签到" class="weui-btn weui-btn_primary" onclick="signAll()"/>
	</div>
	<!-- 签到列表 -->
	<div id="signList">
		<!-- 错误时显示 -->
		<div class="weui-form-preview" th:if="${error!=null}">
			<div class="weui-form-preview__hd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label" th:text="${error}">error</label>
				</div>
			</div>
		</div>
		<!-- 无数据时显示 -->
		<div th:if="${error==null and (cookies==null or cookies.size()==0)}">
			<div class="weui-loadmore weui-loadmore_line">
		        <span class="weui-loadmore__tips">暂无数据</span>
		    </div>
		</div>
		<!-- 有数据时显示 -->
		<div class="weui-panel" th:each = "coupon,couponStat:${coupons}">
			<strong class="weui-panel__hd" th:text="${coupon.name}">红包名称</strong>
			<div class="weui-panel__bd">
				<div class="weui-media-box weui-media-box_text">
					<h4 class="weui-media-box__title">
						<span th:text="${coupon.sum_condition}"></span>-<span th:text="${coupon.reduce_amount}" th:style="${coupon.reduce_amount>=5?'color:red;font-size:22px;':''}+';'"></span>
					</h4>
					<p class="weui-media-box__desc" 
						th:each = "rule,ruleStat:${coupon.variety.description_map.keySet()}" 
						th:text = "${coupon.variety.description_map.get(rule)}"
						th:if = "${rule!='eticket'}"
					>规则1</p>
					<ul class="weui-media-box__info">
						<li class="weui-media-box__info__meta" th:text = "${coupon.begin_date}">开始日期</li>
						<li class="weui-media-box__info__meta weui-media-box__info__meta_extra" th:text = "${coupon.end_date}">结束日期</li>
					</ul>
				</div>
			</div>
		</div>		
	</div>	
	<!-- 签到列表 end-->
</body>
</html>